@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Permanent+Marker&display=swap");
/**** Variables ****/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

a,
li {
  text-decoration: none;
  list-style: none; }

body {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  background-color: #111;
  color: #fff; }

/** HEADER **/
.bg-img {
  background: url(https://source.unsplash.com/random);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .overlay h1 span {
    color: #07ad91; }
  .overlay .btn {
    margin-top: 3rem;
    font-size: 1.3rem; }

/** NAVIGATION **/
.navigation {
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 50px;
  padding-top: 0.5rem;
  justify-content: space-between; }

.logo {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  background-color: #07ad91;
  color: #fff;
  padding: 0 1rem;
  margin-left: 0.5rem; }

.btn-nav {
  height: 40px;
  width: 40px;
  margin-right: 0.8rem; }

.nav-list {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border: black;
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 2rem; }

.nav-list li {
  width: 100%;
  border-bottom: 1px solid #07ad91;
  padding: 0.5rem 0;
  margin: 1rem 0; }

.nav-link {
  color: #fff;
  text-shadow: 1px 2px 1px #07ad91;
  font-size: 1.3rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px; }

.nav-social {
  font-size: 2.5rem;
  display: flex;
  margin-top: 25vh;
  justify-content: space-evenly; }

.nav-phone_active {
  transform: translateX(0rem);
  transition: all .4s ease;
  box-shadow: 0 0 55px 30px rgba(7, 171, 144, 0.65); }

.nav-phone_inactive {
  transform: translateX(-100%);
  transition: all .4s ease; }

/** NAVIGATION END **/
/** MENU SECTION **/
.menu-section {
  padding: 2rem 0; }
  .menu-section h2 {
    width: 300px;
    margin: auto;
    margin-bottom: 2rem; }
    .menu-section h2 span {
      color: #fff; }

.menu-container {
  position: relative;
  margin-top: 2rem;
  max-width: 350px;
  border: 1px solid #07ad91;
  margin: auto;
  display: flex;
  flex-direction: column; }
  .menu-container aside {
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: "Permanent Marker", cursive; }
  .menu-container li:nth-child(odd) {
    color: #07ad91;
    margin-top: 0.5rem; }
  .menu-container li span {
    color: #fff; }

.Breakfast-container,
.Lunch-container,
.Dinner-container {
  position: relative;
  display: grid;
  grid-template-columns: 60px 290px;
  font-size: 0.8rem;
  color: #fff;
  border-bottom: 5px solid black;
  letter-spacing: 1px; }

/** MENU SECTION END **/
/** ORDER SECTION **/
.orders-section h2 span {
  color: #fff; }

.cards-container {
  position: relative; }

.card-body {
  width: 280px;
  background-color: #333;
  border-radius: 10px;
  margin: 0.5rem auto;
  padding: 1rem;
  animation: lester 0.5s ease-out; }

@keyframes lester {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.card-title {
  color: #07ad91;
  font-size: 1.3rem;
  margin-bottom: 1rem; }

.card-description {
  margin-bottom: 1rem; }

.break {
  width: 100%;
  height: 1px;
  margin-bottom: 1rem;
  background-color: #07ad91;
  animation: lineAnimation 2s linear infinite; }

@keyframes lineAnimation {
  from {
    background-color: #07ad91;
    opacity: 0.4; }
  to {
    background-color: #07ad91;
    opacity: 1; } }

.card-price {
  color: #07ad91;
  margin-bottom: 2rem;
  font-size: 1.3rem; }

.card-body .input-container {
  display: block; }
  .card-body .input-container input[type='number'] {
    width: 50px;
    margin: 0 1rem 1rem 0;
    background-color: #111;
    color: #fff;
    outline: none;
    border-radius: 5px;
    text-align: center;
    padding: 0.5rem; }

.orders-section {
  position: relative; }

.prev,
.next {
  position: absolute;
  cursor: pointer;
  top: 60%;
  transition: 0.6s ease;
  opacity: 0.7; }

.prev {
  left: 3px; }
  .prev:hover {
    background-color: #07ad91;
    color: black; }

.next {
  right: 3px; }
  .next:hover {
    background-color: #07ad91;
    color: black; }

/** ORDER SECTION END **/
/** CONTACT SECTION **/
#Contact h2 span {
  color: #fff; }

.contact-container {
  padding: 1rem; }
  .contact-container i {
    margin-right: 1rem; }
  .contact-container .social {
    display: flex;
    align-items: center; }
    .contact-container .social h4 {
      margin-right: 1rem; }
  .contact-container div {
    margin-bottom: 1rem; }

.contact-form {
  width: 340px;
  margin: auto; }

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  .input-container label {
    margin-bottom: .5rem;
    color: #07ad91; }

.contact-form input,
.contact-form select {
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem; }

.contact-form textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem; }

.contact-form button[type='submit'] {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2rem; }

/** CONTACT SECTION END **/
header {
  position: relative; }

.btn {
  border: none;
  outline: none;
  background-color: #07ad91;
  color: #fff;
  border-radius: 5rem;
  padding: .5rem 1rem;
  cursor: pointer; }
  .btn a {
    color: #fff; }

.btn:active {
  transform: scale(0.95rem); }

.text-title {
  font-size: 3.5rem;
  font-family: "Permanent Marker", cursive;
  color: #fff;
  text-align: center;
  text-shadow: 5px 5px 3px black; }

.text_sub-title {
  font-size: 2.5rem;
  font-family: "Permanent Marker", cursive;
  color: #07ad91;
  text-align: center;
  font-weight: 100;
  margin: 3rem auto;
  text-shadow: 3px 3px 3px black; }

.icon {
  color: #07ad91; }
