@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Permanent+Marker&display=swap");
/**** Variables ****/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */ }

a,
li {
  text-decoration: none;
  list-style: none; }

body {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  background-color: #111;
  color: #fff; }

/** HEADER **/
.bg-img {
  background: url(https://source.unsplash.com/random);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .overlay h1 span {
    color: #07ad91; }
  .overlay .btn {
    margin-top: 3rem;
    font-size: 1.3rem; }

/** NAVIGATION **/
.navigation {
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 50px;
  padding-top: 0.5rem;
  justify-content: space-between; }

.logo {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  background-color: #07ad91;
  color: #fff;
  padding: 0 1rem;
  margin-left: 0.5rem; }

.btn-nav {
  height: 40px;
  width: 40px;
  margin-right: 0.8rem; }

.nav-list {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border: black;
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 2rem; }

.nav-list li {
  width: 100%;
  border-bottom: 1px solid #07ad91;
  padding: 0.5rem 0;
  margin: 1rem 0; }

.nav-link {
  color: #fff;
  text-shadow: 1px 2px 1px #07ad91;
  font-size: 1.3rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px; }

.nav-social {
  font-size: 2.5rem;
  display: flex;
  margin-top: 25vh;
  justify-content: space-evenly; }

/** NAVIGATION END **/
header {
  position: relative; }

.btn {
  border: none;
  outline: none;
  background-color: #07ad91;
  color: #fff;
  border-radius: 5rem;
  padding: .5rem 1rem;
  cursor: pointer; }
  .btn a {
    color: #fff; }

.btn:active {
  transform: scale(0.95rem); }

.text-title {
  font-size: 3.5rem;
  font-family: "Permanent Marker", cursive;
  color: #fff;
  text-align: center;
  text-shadow: 5px 5px 3px black; }

.text_sub-title {
  font-size: 2.5rem;
  font-family: "Permanent Marker", cursive;
  color: #07ad91;
  text-align: center;
  font-weight: 100;
  margin: 3rem auto;
  text-shadow: 3px 3px 3px black; }

.icon {
  color: #07ad91; }
