@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Permanent+Marker&display=swap");


/**** Variables ****/
// Colors //
$prim-t_c: #07ad91;
$sec-t_c: #fff;
$logo_c: $prim-t_c;
$title_c: $sec-t_c;


// -- Background Colors -- //
$dark-bg_c: #111;
$prim-bg_c: #333;
$sec-bg_c: #808080;

$prim-icon_c: $prim-t_c;

// -- Font Style -- //
// Font Sizes //
$font-size_title: 3.5rem;
$font-size_xl: 2.5rem;
$font-size_md: 1.3rem;
$font-size_sm: 0.8rem;


// -- Font Family -- //
$font-family_title: 'Permanent Marker', cursive;
$font-family_sub-title: $font-family_title;
$font-family_regular: 'Oswald', sans-serif;


// -- Responsive -- //
$bp-seven: 43.75em; // 700px



*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
}
a,
li {
  text-decoration: none;
  list-style: none;
}

// html {
//   font-size: 62.5%;
// }


body {
    font-family: $font-family_regular;
    letter-spacing: 1px;
    background-color: $dark-bg_c;
    color: $sec-t_c;
}

