.btn {
    border: none;
    outline: none;
    background-color: $prim-t_c;
    color: $sec-t_c;
    border-radius: 5rem;
    padding: .5rem 1rem;
    cursor: pointer;

    a {
        color: $sec-t_c;
    }
}

.btn:active {
    transform: scale(0.95rem);
}

.text-title {
    font-size: $font-size_title;
    font-family: $font-family_title;
    color: $title_c;
    text-align: center;
    text-shadow: 5px 5px 3px black;
}

.text_sub-title {
    font-size: $font-size_xl;
    font-family: $font-family_sub-title;
    color: $prim-t_c;
    text-align: center;
    font-weight: 100;
    margin: 3rem auto;
    text-shadow: 3px 3px 3px black;
}

.icon {
    color: $prim-icon_c;
}
